@media (max-width: 760px) {
	a{
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	
	header div.header{
		margin: 0px;
	}
	
	header{left: 0px;}
	
	header div.header div.inner div.search_form{
		width: 100%;
	}
	
	.mobile-visible{
		display: block;
	}
	
	div.section{
		margin-left:0px;
		margin-right:0px;
	}
	
	div.ad160x600{
		display: none;
	}
	
	div.section div.l-column{
		left: 0%;
		bottom: 0px;
		overflow-y: scroll;
		display: none;
		z-index: 100;
		width: 80%;
	}
	
	div.section div.m-column.open{
		left: 80%;
		position: relative;
	}
	
	div.section div.m-column.open div.menubg{
		position: absolute;
		top: 0px;
	}
	
	footer.open, header.open{
		left: 80%;
		width: 100%;
	}
	
	div.menubg{
		left: 0%;
	}
	
	div.menubg nav {
		display: none;
	}
	
	div.mobile{
		display: block;
	}
	
	div.section div.r-column{
		display: none;
	}
	
	div.section div.m-column{
		margin: 0px;
		border-right: none;
		right: 0px;
		left: 0px;
	}
	
	div.section div.l-column div.panel{
		height: auto;
	}
	
	div.menubg a.mobile_menu_list{
		background: url("../media/assets/icons/list 1.png") no-repeat center transparent;
		display: block;
		width: 30px;
		overflow: hidden;
		text-indent: -999px;
		padding: 5px;
	}
	
	.slideInLeft {
		-webkit-animation: slideInLeftAnimation .5s 1 ease-in-out;
		-moz-animation: slideInLeftAnimation .5s 1 ease-in-out;
		-o-animation: slideInLeftAnimation .5s 1 ease-in-out;
		-webkit-animation-direction:normal;
		-webkit-animation-fill-mode: forwards;
	}
	
	header div.header div.inner div.user_greetings{
		font-size: 0.6275em;
	}
		
	@-webkit-keyframes slideInLeftAnimation {
		from { -webkit-transform: rotate(0deg) translate(-80%); }
		to { -webkit-transform: rotate(0deg) translate(0%); }
	}
	@-moz-keyframes slideInLeftAnimation {
		from { -moz-transform: rotate(0deg) translate(-80%); }
		to { -moz-transform: rotate(0deg)  translate(0%); }
	}
	@-o-keyframes slideInLeftAnimation {
		from { -o-transform: rotate(0deg) translate(-80%); }
		to { -o-transform: rotate(0deg)  translate(0%); }
	}
	
	.slideOutLeft {
		-webkit-animation: slideOutLeftAnimation .5s 1 ease-in-out;
		-moz-animation: slideOutLeftAnimation .5s 1 ease-in-out;
		-o-animation: slideOutLeftAnimation .5s 1 ease-in-out;
		-webkit-animation-direction:normal;
		-webkit-animation-fill-mode: forwards;
	}
		
	@-webkit-keyframes slideOutLeftAnimation {
		from { -webkit-transform: rotate(0deg) translate(0%); }
		to { -webkit-transform: rotate(0deg) translate(-80%); }
	}
	@-moz-keyframes slideOutLeftAnimation {
		from { -moz-transform: rotate(0deg) translate(0%); }
		to { -moz-transform: rotate(0deg) translate(-80%); }
	}
	@-o-keyframes slideOutLeftAnimation {
		from { -o-transform: rotate(0deg) translate(0%); }
		to { -o-transform: rotate(0deg) translate(-80%); }
	}
	
	div.page .col-a{
		float: right;
		width: 100%;
	}
	
	div.page .col-b{
		width: 100%;
		float: right;
		
	}
	
	div.page .article{
		margin-left: 0px;
		margin-right: 0px;
	}
	
	div.page .article div.contentinfo span, div.page .article div.contentinfo a, div.page .article div.contentinfo p{
		font-size: 0.85em;
	}
	
	
}

@media (max-width: 1000px) {

	div.page ul.article-list li{
		width: 100%;
	}

}